.formGroup{
    display:inline-block;
}

.inputBox{
    padding-top: 10px;
    padding-bottom: 10px;
}

.flexBox{
    display: flex;
    justify-content: space-around;
}

.outputFlex{
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

body{
   font-family: Helvetica, sans-serif; 
}

#map {
    height: 800px; 
    width: 1200px;
}

.messageBox{
    padding-top: 75px;
}

